<div>
    <button class="main-btn">
        <a [routerLink]="['']">BACK</a>
    </button>
</div>
<div class="grid grid-cols-2 md:grid-cols-4 p-[7%] gap-10">
        <div class="info-btn cursor-pointer w-[60%] md:w-[100%] h-[250px] md:h-[500px]"></div>
        <div class="info-btn cursor-pointer w-[60%] md:w-[100%] h-[250px] md:h-[500px]"></div>
        <div class="info-btn cursor-pointer w-[60%] md:w-[100%] h-[250px] md:h-[500px]"></div>
        <div class="info-btn cursor-pointer w-[60%] md:w-[100%] h-[250px] md:h-[500px]"></div>
        <div class="info-btn cursor-pointer w-[60%] md:w-[100%] h-[250px] md:h-[500px]"></div>
        <div class="info-btn cursor-pointer w-[60%] md:w-[100%] h-[250px] md:h-[500px]"></div>
        <div class="info-btn cursor-pointer w-[60%] md:w-[100%] h-[250px] md:h-[500px]"></div>
        <div class="info-btn cursor-pointer w-[60%] md:w-[100%] h-[250px] md:h-[500px]"></div>
        <div class="info-btn cursor-pointer w-[60%] md:w-[100%] h-[250px] md:h-[500px]"></div>
        <div class="info-btn cursor-pointer w-[60%] md:w-[100%] h-[250px] md:h-[500px]"></div>
        <div class="info-btn cursor-pointer w-[60%] md:w-[100%] h-[250px] md:h-[500px]"></div>
        <div class="info-btn cursor-pointer w-[60%] md:w-[100%] h-[250px] md:h-[500px]"></div>
        <div class="info-btn cursor-pointer w-[60%] md:w-[100%] h-[250px] md:h-[500px]"></div>
        <div class="info-btn cursor-pointer w-[60%] md:w-[100%] h-[250px] md:h-[500px]"></div>
        <div class="info-btn cursor-pointer w-[60%] md:w-[100%] h-[250px] md:h-[500px]"></div>
        <div class="info-btn cursor-pointer w-[60%] md:w-[100%] h-[250px] md:h-[500px]"></div>
        <div class="info-btn cursor-pointer w-[60%] md:w-[100%] h-[250px] md:h-[500px]"></div>
        <div class="info-btn cursor-pointer w-[60%] md:w-[100%] h-[250px] md:h-[500px]"></div>
        <div class="info-btn cursor-pointer w-[60%] md:w-[100%] h-[250px] md:h-[500px]"></div>
</div>
