<section class="flex items-center">
    <div class="pl-10 mt-10">
        <h1 id='title'>
            <!-- Nyotha -->
        </h1>
        <h2 id="subtitle">
            Your personalized <br> 
            invitation website <br> 
            Starting at just <br>
            <span style="color: #FAD02E;font-size: 85px;">
                99₹ /day
            </span>
                
        </h2>
    </div>
    <div id="cta-button" class="ml-[20%]">
        <button class="main-btn">
            Get started
        </button>
    </div>
</section>
<section class="flex p-24 gap-6 flex-col">
    <div class="text-6xl text-white">
        Features of our digital invitations
    </div>
    <div class="grid gap-7 grid-cols-2">
        <div class="info-btn">GMaps Location of Venue</div>
        <div class="info-btn">Whatsapp DM Button</div>
        <div class="info-btn">RSVP details</div>
        <div class="info-btn">Google Calendar</div>
        <div class="info-btn">Instagram Hashtags</div>
        <div class="info-btn">Gift Money QR code</div>
    </div>
</section>
<section class="flex p-24 gap-6 flex-col">
    <div class="text-6xl text-white">
       How to order
    </div>
    <div class="grid gap-7 grid-cols-1">
        <div class="info-btn">Click on the whatsapp icon to reach out</div>
        <div class="info-btn">We’ll send you a form, fill out the details related to invitation</div>
        <div class="info-btn">We’ll send you a draft website, we allow upto 2 edits </div>
        <div class="info-btn">Once confirmed and payment is done, the website will be live for the set duration</div>
    </div>
</section>
<section class="flex p-24 gap-6 flex-col">
    <div class="text-6xl text-white">
       Check out the templates
    </div>
    <div class="flex gap-7">
        <div class="info-btn cursor-pointer w-[25%] h-[500px]"></div>
        <div class="info-btn cursor-pointer w-[25%] h-[500px]"></div>
        <div class="info-btn cursor-pointer w-[25%] h-[500px]"></div>
        <div class="info-btn cursor-pointer w-[25%] h-[500px]"></div>
    </div>
    <div class="text-center">
        <button class="main-btn">
            View All Samples
        </button>
    </div>
</section>
